# Environment files
.env
.env.local

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases
*.db
*.sqlite
*.sqlite3

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/
